<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Concious Coding</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Concious Coding</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/users/add">Add user</a>
    </div>
    <h1>Student List</h1>
    <ul>
        <% for(var i=0; i<students.length; i++) {%>
            <li>
                <a href="/users/<%= students[i].id %>">
                    <%= students[i].id %>
                        <%= students[i].first_name %>
                            <%= students[i].last_name %>
                                <%= students[i].nick_name %>
                                    <%= students[i].team %>
                </a>
            </li>
            <% } %>
    </ul>

    <p>&nbsp;</p>
    <hr>
    <p>&nbsp;</p>

    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="border:1px solid blue;">
                <h1>Game Settings</h1>
                <p><strong>Game type = Pathways</strong></p>
                <label for="rounds">Number of rounds</label></br></br>
                <input id="rounds" type="number" placeholder="rounds" name="rounds"></br></br>
                <label for="turns">Turns per round</label></br></br>
                <input id="turns" type="number" placeholder="turns" name="turns"></br></br>
                <label for="seconds">Seconds per round</label></br></br>
                <input id="seconds" type="number" placeholder="seconds" name="seconds"></br></br>
                <button type="submit" onclick="createURLs()">Submit</button>
            </div>

            <script>
                function createURLs() {

                    // get the parameters
                    let turns = document.getElementById('turns').value;
                    let seconds = document.getElementById('seconds').value;
                    console.log(typeof turns);

                    // modify the urls
                    const playerURLs = document.getElementsByClassName("players");

                    for (let i = 0; i < playerURLs.length; i++) {
                        let href = playerURLs[i].getAttribute("href");
                        href = href + "&moves=" + turns + "&seconds=" + seconds;
                        // console.log(href);
                        playerURLs[i].setAttribute("href", href);
                    }

                    // Reveal block
                    if (turns == "" || turns == "e" || seconds == "" || seconds == "e") {
                        alert("Please choose number of turns per round.");
                    }
                    else {
                        document.getElementById("playerURLS").style.display = "block";
                    }
                }
            </script>


            <div id="playerURLS" class="col-sm-6" style="display:none; background-color:pink;">
                <h1>Teams</h1>
                <h2>Yellow Team</h2>
                <ul>
                    <% for(var i=0; i<students.length; i++) {%>
                        <% if(students[i].team=="Yellow" ){ %>
                            <li>
                                <a class="players"
                                    href="games/pathways?nick_name=<%= students[i].nick_name%>&team=<%= students[i].team%>">
                                    <%= students[i].id %>
                                        <%= students[i].first_name %>
                                            <%= students[i].last_name %>
                                </a>
                            </li>
                            <% } %>
                                <% } %>
                </ul>
                <h2>Blue Team</h2>
                <ul>
                    <% for(var i=0; i<students.length; i++) {%>
                        <% if(students[i].team=="Blue" ){ %>
                            <li>
                                <a class="players"
                                    href="games/pathways?nick_name=<%= students[i].nick_name%>&team=<%= students[i].team%>">
                                    <%= students[i].id %>
                                        <%= students[i].first_name %>
                                            <%= students[i].last_name %>
                                </a>
                            </li>
                            <% } %>
                                <% } %>
                </ul>
            </div>
        </div>
    </div>


</body>

</html>